.DS_Store
.vscode/
.idea
*.pptx
01_materials/labs/bbc
01_materials/labs/ml-100k
01_materials/labs/ml-100k.zip
01_materials/labs/VOCdevkit
01_materials/labs/bbc-fulltext.zip
01_materials/labs/bumblebee.png
01_materials/labs/glove100k.100d.zip
01_materials/labs/glove100K.100d.txt
01_materials/labs/laptop.jpeg
01_materials/labs/lfw
01_materials/labs/lfw-deepfunneled.tgz
01_materials/labs/tsne.png
01_materials/labs/voc_representations.h5
01_materials/labs/VOCtrainval_06-Nov-2007.tar
02_activities/assignments/best_model/
02_activities/assignments/*.zip
02_activities/assignments/*.txt
test_notebooks/

# Large artifacts generated during labs
voc_representations.h5
VOCdevkit/
VOCtrainval_06-Nov-2007.tar.gz
node_modules/