.DS_Store
.vscode/
.idea
*.pptx
02_labs/bbc
02_labs/ml-100k
02_labs/ml-100k.zip
02_labs/VOCdevkit
02_labs/bbc-fulltext.zip
02_labs/bumblebee.png
02_labs/glove100k.100d.zip
02_labs/glove100K.100d.txt
02_labs/laptop.jpeg
02_labs/lfw
02_labs/lfw-deepfunneled.tgz
02_labs/tsne.png
02_labs/voc_representations.h5
02_labs/VOCtrainval_06-Nov-2007.tar
03_assignments/best_model/
03_assignments/*.zip
03_assignments/*.txt
